

    HTML CSS JS 

    Result
    Skip Results Iframe

* {
  box-sizing: border-box;
}

body {

  min-height: 100vh;
  margin: 0;
  background-image: url("pictures/background.gif");
  background-repeat: no-repeat;
  background-size:cover;
}

#canvas1 {

}



