


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("pictures/background.gif");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  width: 200px;
}


*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.popup{
    background-color: #ffffff;
    width: 800px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 50px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 17px;
    text-align: justify;
    margin: 20px 0;
    line-height: 22px;
}
a{
    display: block;
    width: 350px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}



